<h1>Carts</h1>


<% if not @order.empty? %>
  <ul>
    <% @order.product_orders.each do |item| %>
      <li>
        <%= item.product.name %>
      </li>
    <% end %>
  </ul>

  <%= form_for :cart, url: payment_sim_cart_path, method: :put do |form| %>
    <%= form.collection_select(:payment_method_id, PaymentMethod.all, :id, :name, prompt: true) do |b| %>
      <%= b.label(:"data-value" => b.value) { b.radio_button + b.text.capitalize } %>
    <% end %>

    <%= form.hidden_field :order_id, value: @order.id %>
    <%= form.submit "Buy" %>
  <% end %>
<% end %>

<p><%= pluralize(@order.product_orders.count, "product") %> added to the cart</p>
<%= link_to "Home", root_path %>