<!DOCTYPE html>
<html>
  <head>
    <title>Attachments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> |
      <%= link_to "Cart", cart_path %>
    <% elsif admin_signed_in? %>
      <%= link_to "Sign out", destroy_admin_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Users", new_user_session_path %> |
      <%= link_to "Admins", new_admin_session_path %>
    <% end %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
